{% extends "base.html.jinja" %}
{%block title%}
      <h2>Ekstrakcja opinii</h2>
        {%endblock title%}
{% block content%}
{% if error is defined %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
<i class="bi bi-exclamation-diamond-fill"></i><h2>Nie ma takiego produktu o takim ID!</h2>
</div>
{%endif%}
 <div class="container">
        <form id="extract-form" method="POST">
            <label for="product_id">ID Produktu:</label>
            <input type="text" id="product_id" name="product_id" required>
            <button type="submit">Uruchom ekstrakcję</button>
            <div id="error-message"></div>
        </form>
        <div id="product-id-display" style="display: none;"></div> <!-- Ukryty element do wyświetlania ID produktu -->
    </div>


{%endblock content %}