{% extends "base.html.jinja" %}
{%block title%}
{%endblock title%}
{% block content%}
<section style="text-align: center; font-size: 20px; margin-top: 50px;">
            <div id="profile">
              <img class="profile" src="{{ url_for('static', filename='list.png') }}" >
              <h2>Lista produków</h2>
             <section style="text-align: center; font-size: 20px; margin-top: 50px;">
    <div id="product-list">
         <pre>{{ json_data }}</pre>
    </div>
</section>
{% endblock content %}
